<!-- start custom footer snippets -->

<div class="page__footer-copyright">
  This project is supported by the <a href="https://www.nps.gov/heritageinitiatives/">NPS Heritage Iniatives Program</a>, the <a href="http://preservationmaryland.org/programs/heritage-fund-grants/">Preservation Maryland Heritage Fund</a>, and the <a href="https://www1.pnc.com/pncfoundation/">PNC Foundation</a>.
</div>

<script src="https://unpkg.com/littlefoot/dist/littlefoot.min.js" type="application/javascript"></script>
<script type="application/javascript">
  littlefoot.default()
</script>

<!-- end custom footer snippets -->
