<!-- start custom head snippets -->

<!-- Favicons created w/ http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" href="{{ "/assets/images/favicon-32x32.png" | absolute_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "/assets/images/favicon-16x16.png" | absolute_url }}" sizes="16x16">
<link rel="manifest" href="{{ "/assets/images/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/images/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/images/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- Bigfoot JS links via rawgit.com - http://www.bigfootjs.com/ + jQuery from jQuery CDN -->

<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://rawgit.com/lemonmade/bigfoot/master/dist/bigfoot-number.css">
<script type="text/javascript" src="https://rawgit.com/lemonmade/bigfoot/master/dist/bigfoot.js"></script>
<script type="text/javascript">
  var bigfoot = $.bigfoot(
      {
          positionContent: true
      }
  );
</script>

<!-- Annotator JS - http://annotatorjs.org/ -->

{% if page.categories contains 'annotate' %}
  <script async defer src="//hypothes.is/embed.js"></script>
{% endif %}

<!-- Scroll Depth Google Analytics Plugin - http://scrolldepth.parsnip.io/

<script src="https://rawgit.com/robflaherty/jquery-scrolldepth/master/jquery.scrolldepth.min.js"></script>
<script>
jQuery(function() {
  jQuery.scrollDepth({
    minHeight: 2000
  });
});
</script>
 -->
