---
layout: archive
author_profile: false
excerpt: "We are researching and documenting the long history of the African American Civil Rights movement in Baltimore and the connections between the movement and local historic places."
header:
  overlay_image: "/assets/images/07916v-loc.jpg"
  overlay_filter: .5
  cta_label: "Learn more"
  cta_url: "https://baltimoreheritage.github.io/civil-rights-heritage/about"
  caption: "The Presentation, of a gold snuff box to the Rev. R.T. Breckenridge, Bethel AME Church, 1845. _Courtesy [Library of Congress](http://www.loc.gov/pictures/item/2003674536/)._"
group1:
  - image_path: assets/images/00400v-loc.jpg
    alt: "Unidentified African American soldier in Union uniform with wife and two daughters, c. 1863-1865"
    title: "1831-1884"
    excerpt: "From Nat Turner's Rebellion to the U.S. Civil War and Emancipation."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1831-1884"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/uva-lib_330943.jpg
    alt: "Carnegie Hall at Morgan College (now Morgan State University) by Jackson Davis, 1921 November 3"
    title: "1885-1929"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1885-1929"
    btn_label: "Read More"
    btn_class: "btn--primary"
group2:
  - image_path: assets/images/nypl.digitalcollections.510d47de-8195-a3d9-e040-e00a18064a99.001.w.jpg
    alt: "Manpower: Negro bomber plant workers, 1942. U.S. Office of War Information."
    title: "1930-1965"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1930-1965"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/1976-08-07-afram-charles-plaza.jpg
    alt: "Charles Plaza during the first Afro-American (AFRAM) Exposition, August 7-8, 1976"
    title: "1966-1976"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1966-1976"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="group1" type="center" %}

{% include feature_row id="group2" type="center" %}

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
