---
layout: archive
author_profile: false
excerpt: "We are researching and documenting the long history of the African American Civil Rights movement in Baltimore and the connections between the movement and local historic places."
header:
  overlay_image: "/assets/images/07916v-loc.jpg"
  overlay_filter: .5
  cta_label: "Learn more"
  cta_url: "https://baltimoreheritage.github.io/civil-rights-heritage/about"
  caption: "The Presentation, of a gold snuff box to the Rev. R.T. Breckenridge, Bethel AME Church, 1845. _Courtesy [Library of Congress](http://www.loc.gov/pictures/item/2003674536/)._"
group1:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "1831-1884"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1831-1884"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "1885-1929"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1885-1929"
    btn_label: "Read More"
    btn_class: "btn--primary"
group2:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "1930-1965"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1930-1965"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "1966-1976"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "https://baltimoreheritage.github.io/civil-rights-heritage/overview/1966-1976"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="group1" type="left" %}

{% include feature_row id="group2" type="left" %}

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
