<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>


<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

<!-- Comment out dynamic menu

      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
 -->

    <div class="sidebar-item">Project Background</div>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/properties">Associated Properties</a>
    <a class="sidebar-nav-item" href="https://github.com/baltimoreheritage/civil-rights-heritage">GitHub Project</a>

    <div class="sidebar-item">Themes</div>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/equal-education">Equal Education</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/public-accommodation">Public Accommodation</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/voting">Voting</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/housing">Housing</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/equal-employment">Equal Employment</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/criminal-injustice">Criminal Injustice</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/historiography">Historiography</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/confederate-memory">Confederate Memory</a>

    <div class="sidebar-item">Resources</div>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/educational-resources">Educational Resources</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/map">Map</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/timeline">Timeline</a>
  </nav>

  <div class="sidebar-item">
      This work by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Baltimore Heritage</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </div>
</div>
