.content img {
    max-width: 100%;
}

figure {
    margin:2em 0;
    text-align:center;
    display:block;
}

figure img {
    margin-bottom: 0.5em;
}

figcaption {
    font-size:0.8em;
    color: #455A64;
}
